/* .body-bg-light{
    
    color: black;
}
.body-bg-dark{
    
    color: white;
} */

input::placeholder {
    color: #212529;
  }
  
  input[data-mode="dark"]::placeholder {
    color: white;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }
  @media (max-width: 767px) {
    .btn {
      font-size: 14px;
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    h1{
      font-size: 22px;
    }

    h4{
      font-size: 19px;
    }
    h3{
      font-size: 20px;
    }

    p{
      font-size: 15px;
    }

    .alert{
      height: 100px;
    }
    .btn-close{
      height: 50px;
    }

    textarea input{
      font-size: 13px;
    }

    textarea::placeholder {
      color: #212529;
      font-size: 13px;
    }  
    textarea[data-mode="dark"]::placeholder {
      color: white;
      font-size: 13px;
    }
    input::placeholder {
      color: #212529;
      font-size: 13px;
    }
    
    input[data-mode="dark"]::placeholder {
      color: white;
      font-size: 13px;
    }
  }
 

  h4{
 white-space: nowrap;
 overflow: hidden;
 width: 100%;
 animation: animtext 4s steps(80, end); 
  transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
@keyframes animtext { 
 from {
     width: 0;
    transition: all 2s ease-in-out;
 } 
}

  textarea::placeholder {
    color: #212529;
  }

  textarea[data-mode="dark"]::placeholder {
    color: white;
  }

  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: rgb(9, 113, 249);
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  .center-text{
    text-align: center;
  }

  .bg-clr{
    background-color: rgb(254, 247, 232);
  }

  /* .stick-btm{
    bottom: 0;
    position: relative;
  } */

  @media (max-width: 767px) {
    .footer {
      position: relative;
      font-size: 13px;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1rem;
      background: rgb(9, 113, 249);
      color: white;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
    }
  }
